app:
  upload-dir: ./uploads

spring:
  servlet:
    multipart:
      max-file-size: 512MB
      max-request-size: 512MB

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
