app:
  upload-dir: ./uploads

spring:
  servlet:
    multipart:
      # Cloudflare Free plan limit: ~100MB
      # If you upgrade to Pro/Business, you can increase this to 512MB
      max-file-size: 100MB
      max-request-size: 100MB

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
